---
import LayoutSidebar from '../../app/LayoutSidebar.astro';
import FormForgotPassword from '../../modules/FormForgotPassword.astro';
---

<LayoutSidebar>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormForgotPassword />
	</div>
</LayoutSidebar>
