---
import Layout from '../../app/LayoutDefault.astro';
import FormForgotPassword from '../../views/FormForgotPassword.astro';
---

<Layout>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormForgotPassword />
	</div>
</Layout>
