---
import LayoutSidebar from '../../app/LayoutSidebar.astro';
import FormProfileLock from '../../views/FormProfileLock.astro';
---

<LayoutSidebar>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormProfileLock />
	</div>
</LayoutSidebar>
