---
import LayoutStacked from '../../app/LayoutStacked.astro';
import FormProfileLock from '../../modules/FormProfileLock.astro';
---

<LayoutStacked>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormProfileLock />
	</div>
</LayoutStacked>
