---
import Layout from '../../Layout.astro';
import FormProfileLock from '../../modules/FormProfileLock.astro';
---

<Layout>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormProfileLock />
	</div>
</Layout>
