---
import Layout from '../../app/LayoutDefault.astro';
import FormProfileLock from '../../views/FormProfileLock.astro';
---

<Layout>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormProfileLock />
	</div>
</Layout>
