---
import Layout from '../../Layout.astro';
import FormResetPassword from '../../modules/FormResetPassword.astro';
---

<Layout>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormResetPassword />
	</div>
</Layout>
