---
import LayoutSidebar from '../../app/LayoutSidebar.astro';
import FormResetPassword from '../../modules/FormResetPassword.astro';
---

<LayoutSidebar>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormResetPassword />
	</div>
</LayoutSidebar>
