---
import Layout from '../../app/LayoutDefault.astro';
import FormResetPassword from '../../views/FormResetPassword.astro';
---

<Layout>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormResetPassword />
	</div>
</Layout>
