---
import Layout from '../../Layout.astro';
import FormSignUp from '../../modules/FormSignUp.astro';
---

<Layout>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormSignUp />
	</div>
</Layout>
