---
import Layout from '../../app/LayoutDefault.astro';
import FormSignIn from '../../views/FormSignIn.astro';
---

<Layout>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormSignIn />
	</div>
</Layout>
