---
import LayoutSidebar from '../../app/LayoutSidebar.astro';
import FormSignUp from '../../modules/FormSignUp.astro';
---

<LayoutSidebar>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormSignUp />
	</div>
</LayoutSidebar>
