---
import LayoutStacked from '../../app/LayoutStacked.astro';
import FormSignIn from '../../modules/FormSignIn.astro';
---

<LayoutStacked>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormSignIn />
	</div>
</LayoutStacked>
