---
import LayoutSidebar from '../../app/LayoutSidebar.astro';
import FormSignIn from '../../modules/FormSignIn.astro';
---

<LayoutSidebar>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormSignIn />
	</div>
</LayoutSidebar>
