---
import Layout from '../../app/LayoutDefault.astro';
import FormSignUp from '../../views/FormSignUp.astro';
---

<Layout>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormSignUp />
	</div>
</Layout>
