---
import Layout from '../../Layout.astro';
import FormSignIn from '../../modules/FormSignIn.astro';
---

<Layout>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormSignIn />
	</div>
</Layout>
