---
import Code from 'astro/components/Code.astro';
import Layout from '../Layout.astro';
import Confettis from '../components/Confettis.astro';

import AstroLogo from '../assets/astro-icon-light.svg?raw';
import FlowbiteLogo from '../assets/flowbite-logo.svg?raw';

import * as readMe from '../../README.md';
import { SITE_TITLE } from '../consts.js';
---

<Layout
	class="bg-gradient-to-r from-slate-900 to-slate-800 text-slate-100 mb-20 p-4 lg:p-16"
>
	<div>
		<header
			class="p-8 flex justify-center items-center flex-wrap flex-col w-full mt-16"
		>
			<div class="flex justify-center w-full">
				<div set:html={AstroLogo} class="svg-inline w-16 h-16" />
			</div>

			<div class="format format-invert lg:format-lg mt-32">
				<p class="text-4xl lg:text-8xl text-slate-200 leading-tight">
					Hello <a
						rel="noopener nofollow"
						href="https://astro.build"
						class="font-bold text-transparent bg-clip-text bg-gradient-to-br from-pink-300 to-violet-700 no-underline"
						>Astro</a
					>…
					<br />meet <a
						rel="noopener nofollow"
						href="https://flowbite.com"
						class="font-bold text-blue-500 no-underline">Flowbite</a
					>!
				</p>

				<div class="flex justify-center w-full">
					<Confettis>
						<button
							type="button"
							class="text-blue-200 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-100 dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-800"
							>Click me!</button
						>
					</Confettis>
				</div>
			</div>

			<div class="flex justify-center w-full my-16">
				<div set:html={FlowbiteLogo} class="svg-inline w-16 h-16" />
			</div>
		</header>

		<section class="flex justify-center w-full pb-24">
			<div class="w-full format format-invert">
				<Code
					lang="shell"
					code={`git clone \\
https://github.com/themesberg/flowbite-astro-admin-dashboard.git`}
				/>
			</div>
		</section>

		<article class="flex justify-center w-full">
			<div class="readme format format-invert lg:format-lg">
				<h1 class="text-center">
					<!-- {readMe.getHeadings()[0].text} -->
					{SITE_TITLE}
				</h1>
				<readMe.Content />
				<hr />
			</div>
		</article>

		<footer class="flex justify-center w-full mt-16">
			<a
				href="https://github.com/themesberg/flowbite-astro-admin-dashboard"
				class="font-medium text-blue-300 hover:underline">GitHub repository</a
			>
		</footer>
	</div>
</Layout>

<style>
	/* Override in Markdown H1 title */
	.readme :global(h1:nth-of-type(2)) {
		display: none;
	}
</style>
