---
import CopyrightNotice from '../components/CopyrightNotice.astro';
---

<footer
	class="md:flex md:items-center md:justify-between px-4 2xl:px-0 py-6 md:py-10"
>
	<CopyrightNotice />

	<ul class="flex flex-wrap items-center justify-center">
		<li>
			<a
				href="#"
				class="mr-4 text-sm font-normal text-gray-500 hover:underline md:mr-6 dark:text-gray-400"
				>Terms</a
			>
		</li>
		<li>
			<a
				href="#"
				class="mr-4 text-sm font-normal text-gray-500 hover:underline md:mr-6 dark:text-gray-400"
				>Licensing</a
			>
		</li>
		<li>
			<a
				href="#"
				class="mr-4 text-sm font-normal text-gray-500 hover:underline md:mr-6 dark:text-gray-400"
				>Cookie Policy</a
			>
		</li>
		<li>
			<a
				href="#"
				class="text-sm font-normal text-gray-500 hover:underline dark:text-gray-400"
				>Contact</a
			>
		</li>
	</ul>
</footer>
