---
// library imports
import FlowbiteLogo from '../assets/flowbite-logo.svg?raw';

interface Props {
  text: string;
  description?: string;
}

const {
  text,
  description = null,
} = Astro.props as Props;
---

<div class="flex flex-col items-center justify-center text-2xl font-semibold dark:text-white">
    <div set:html={FlowbiteLogo} class="" />
</div>
<h2 class="text-2xl font-bold text-gray-900 mb-4 dark:text-white">
    {text}
</h2>
<p class="text-base font-normal text-gray-500 mb-4 dark:text-gray-400">
    {description}
</p>