---
import pkg from '../package.json' assert { type: 'json' };
import FooterDashboard from './app/FooterDashboard.astro';
// import FooterMain from './app/FooterMain.astro';
// import NavBarMain from './app/NavBarMain.astro';
import NavBarDashboard from './app/NavBarDashboard.astro';
import SidebarMain from './app/SidebarMain.astro';
import { SITE_TITLE } from './consts.js';

const { class: clazz } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{SITE_TITLE} — v{pkg.version}</title>

		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={pkg.description} />

		<script is:inline>
			if (
				localStorage.getItem('color-theme') === 'dark' ||
				(!('color-theme' in localStorage) &&
					window.matchMedia('(prefers-color-scheme: dark)').matches)
			) {
				document.documentElement.classList.add('dark');
			} else {
				document.documentElement.classList.remove('dark');
			}
		</script>
	</head>
	<body
		class:list={[
			//
			clazz,
		]}
	>
		<!-- <NavBarMain /> -->
		<NavBarDashboard />
		<SidebarMain />

		<div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
			<div
				id="main-content"
				class="relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900"
			>
				<slot />
				<FooterDashboard />
			</div>
		</div>

		<!-- <FooterMain /> -->
	</body>
</html>

<style is:global>
	.svg-inline svg {
		height: 100%;
		width: 100%;
	}
</style>
